#section2 > h3{
    text-align: center ;
    text-transform: capitalize;
    color:rgb(22, 22, 107);
    outline-style: dashed;

}
#section1 > h1{
    color:aliceblue;
    font-size:xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font:bolder;
    text-align: center;
    margin:0px;
}

.try{
    background-color:dimgrey;
    height:225px;
    
    
}
