.try{
    background-color: brown;
    height: 50px;
    margin:5px;
 
    
}
h1{
    color:azure;
    border: 5px solid powderblue;
    text-align: center;
    text-transform: capitalize;
}
h3{
    background-color: cadetblue;
    height: 25px;
    font-family: 'Courier New', Courier, monospace;
}